<h1>SkillLinkへようこそ！</h1>

<% if user_signed_in? %>
  <p>
    <strong><%= current_user.nick_name %></strong> さん、こんにちは！
  </p>
  <p>
    所属会社：<%= current_user.company.name %><br>
    権限：<%= current_user.admin? ? '管理者' : '一般ユーザー' %>
  </p>
  <p>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
  </p>
<% else %>
  <p>
    <%= link_to "ログイン", new_user_session_path %> |
    <%= link_to "新規登録", new_user_registration_path %>
  </p>
<% end %>

<% if user_signed_in? && current_user.admin? %>
  <p>
    <%= link_to "ユーザー管理ページへ", users_path %>
  </p>
<% end %>